<div class="container">
    <form [formGroup]="frmEntity">

        <div class="form-group col-md-3">
            <label> Entity Name</label>
            <input type="text" class="form-control" />
        </div>
        <div class="row mt-3">
            <div class="col-md-3">

                <button class="btn btn-primary" (click)="openKeysModal()">Add Keys</button>
            </div>
        </div>

    </form>
</div>


<ng-template #keysModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Element Settings</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">General</button>
            </li>
            <!-- <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Events</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">Style</button>
            </li> -->
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <div class="container">

                    <div class="row" [formGroup]="frmKeys">

                        <div class="form-group col-md-6">
                            <label for="">Key name</label>
                            <input type="text" formControlName="keyName" class="form-control">
                        </div>

                        <div class="col-md-3">

                            <button class="btn btn-primary mt-3" (click)="AddValidation()">Add Validation</button>
                        </div>

                    </div>
                    <div class="row" *ngFor="let item of getValidations().controls;let i=index" [formGroup]="getFromGroupInstance(item)">
                      
                        <div class="col-6">
                            <label for="">Type</label>
                            <input type="text" formControlName="type" class="form-control">
                        </div>

                        <div class="col-6">
                            <label for="">Value</label>
                            <input type="text"  formControlName="value"  class="form-control">
                        </div>
                    </div>
                </div>




            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <!-- <form [formGroup]="frmElementSettings.get('event')"></form> -->
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <!-- <form [formGroup]="frmElementSettings.get('style')"></form> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
    </div>
</ng-template>