<div class="container">

  <form-builder [form]="formJSON" (change)="handleFormChange($event)"></form-builder>

</div>

<hr>
<div class="row">
  <div class="col-md-3 offset-10">

    <button class="btn btn-primary" (click)="openSaveModal()">Add Form</button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Module Settings</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <form>
      <div class="row">
        <div class="form-group">
          <label for="">Module Name</label>
          <input type="text" class="form-control" formControlName="moduleName">
        </div>
        <div class="form-group">
          <label for="">Module Description</label>
          <input type="text" class="form-control" formControlName="moduleName">
        </div>
        
        <div class="form-group">
          <label for="">Module Name</label>
          <input type="text" class="form-control" formControlName="moduleName">
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveElement()">Save</button>
  </div>
</ng-template>