<div class="row m-2">

    <div class="col-3 offset-11">

        <button class="btn btn-primary" (click)="goto('create')">+ Add New</button>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <td><strong>Vessel Name</strong></td>
            <td><strong>Call Sign</strong></td>
            <td><strong>Type</strong></td>
            <td><strong>Action</strong></td>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list">
            <td>{{item?.vesselName}}</td>
            <td>{{item?.callSign}}</td>
            <td>{{item?.type}}</td>
            <td>
                <button class="btn btn-warning" (click)="goto('edit/'+item[module+'Id'])">
                    Edit</button>
                <button class="btn btn-primary" (click)="goto('view/'+item[module+'Id'])">
                    View</button>
            </td>
        </tr>
    </tbody>
</table>